@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animate {
    opacity: 0;
    transition: 1s;
  }
  
  .fade {
    opacity: 1;
    transition: 1s;
  }

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container {
    margin-left: auto;
    opacity: 0;
    transition: 0.3s;
}

nav ul {
    list-style: none;
}

nav ul li {
    list-style: none;    
}

nav ul li a {
    text-decoration: none;
}

.hamburger {
    display: none;
}

/*.badge {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: dodgerblue;
    color: #fff;
    font-weight: 700;
}*/

.badge {
    font-size: 20px;
}

.scroll-reminder {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
}
@keyframes bounce {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 10px;
    }

    75% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0;
    }
}

.about {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.about-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-content .left {
    flex: 1;
}

.about-content .left img {
    border-radius: 8px;
    height: 300px;
    width: auto;
}

.about-content .right {
    flex: 1;
}

.about .heading h3 {
    font-size: 30px;
    color: dodgerblue;
    font-weight: 700;
}

.about .underline {
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.about .underline .circle {
    margin: 0px 2px;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: #eee;
}

.hero {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    width: 80%;
    margin-top: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero span {
    font-weight: 700;
    color: dodgerblue;
}

.hero .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.hero .right {
    display: flex;
    justify-content: center;
}

.hero .right img {
    width: 100%;
    height: auto;
    z-index: -1;
    border-radius: 100%;
}

.darkmode-toggle {
    z-index: 100000000;
}

.hero .left > * {
    margin-top: 10px;
}

.hero .main {
    color: #333;
    font-size: 3rem;
}

.hero a {
    text-decoration: none;
}

.hero h3 {
    line-height: 3rem;
    margin-bottom: 5px;
}

.hero .buttons > * {
    font-size: 14px;
    font-weight: 500;
}

.hero .primary {
    color: #fff;
    background-color: dodgerblue;
    padding: 10px 25px;
    border-radius: 100px;
}

.typewriter {
    display: flex;
}

.tech-stacks {
    width: 100%;
    margin-top: 5%;
    padding: 40px;
    text-align: center;
    color: #fff;
    background-color: dodgerblue;
}

.tech-stacks h3 {
    font-size: 30px;
}

.tech-stacks ul {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.tech-stacks ul li {
    list-style: none;
    font-size: 35px;
    display: flex;
    flex-direction: column;
}

.tech-stacks ul li span {
    font-size: 18px;
    font-weight: 700;
}

.tech-stacks ul li i {
    font-size: 30px;
}

.hero .secondary {
    border: 1px solid dodgerblue;
    padding: 10px 25px;
    border-radius: 100px;
    margin-left: 10px;
    color: dodgerblue;
}
.nav-logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10%;
    color: #333;
    transition: 0.3s;
}


.nav-logo:hover {
    color: dodgerblue;
    isolation: isolate;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 75px;
}

.navbar.darkmode-activated {
    background-color: dodgerblue;
}

.nav-menu {
    display: flex;
    isolation: isolate;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    z-index: 99999;
}

.buttons {
    padding-top: 15px;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    color: #7D7C7C;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: dodgerblue;
}

#preloader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preloader-text path:nth-child(1) {
    stroke-dasharray: 128.33;
    stroke-dashoffset: 128.33;
    fill: block;
    animation: line-animation 2s ease forwards;
}

#preloader-text path:nth-child(2) {
    stroke-dasharray: 88.1;
    stroke-dashoffset: 88.1;
    animation: line-animation 2s ease forwards 0.3s;
}

#preloader-text path:nth-child(3) {
    stroke-dasharray: 170.67;
    stroke-dashoffset: 170.67;
    animation: line-animation 2s ease forwards 0.6s;
}

#preloader-text path:nth-child(4) {
    stroke-dasharray: 105.41;
    stroke-dashoffset: 105.41;
    animation: line-animation 2s ease forwards 0.9s;
}

#preloader-text path:nth-child(5) {
    stroke-dasharray: 115.44;
    stroke-dashoffset: 115.44;
    animation: line-animation 2s ease forwards 1.2s;
}

#preloader-text path:nth-child(6) {
    stroke-dasharray: 96.83;
    stroke-dashoffset: 96.83;
    animation: line-animation 2s ease forwards 1.5s;
}

#preloader-text path:nth-child(7) {
    stroke-dasharray: 128.33;
    stroke-dashoffset: 128.33;
    animation: line-animation 2s ease forwards 1.8s;
}

#preloader-text path:nth-child(8) {
    stroke-dasharray: 115.44;
    stroke-dashoffset: 115.44;
    animation: line-animation 2s ease forwards 2.1s;
}

#preloader-text path:nth-child(9) {
    stroke-dasharray: 31;
    stroke-dashoffset: 31;
    animation: line-animation 2s ease forwards 2.4s;
}

#preloader-text path:nth-child(10) {
    stroke-dasharray: 102.2;
    stroke-dashoffset: 102.2;
    animation: line-animation 2s ease forwards 2.7s;
}

#preloader-text path:nth-child(11) {
    stroke-dasharray: 91;
    stroke-dashoffset: 91;
    animation: line-animation 2s ease forwards 3s;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #fff;
    }
}

.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 20px;
}

.spinner>div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

body.loading {
    overflow-y: hidden;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: dodgerblue;
    z-index: 999999;
}

.spinner-wrapper b {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#description span {
    color: dodgerblue;
    font-weight: 500;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.hero .left p {
    margin-top: 5%;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: 0%;
        margin-top: -10px;
        top: -100%;
        flex-direction: column;
        background-color: #fff;
        isolation: isolate;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content .right {
        margin-top: 5%;
    }

    .nav-item {
        height: 0px;
    }

    .nav-logo {
        margin-left: 0%;
    }

    .nav-menu.active {
        top: 5rem;
    }

    .nav-item {
        margin: 2rem;
    }

    .tech-stacks ul {
        flex-direction: column;
        justify-content: center;
    }

    .tech-stacks ul li {
        margin-top: 10%;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-item:last-child {
        margin-bottom: 2.5rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }

    .hero {
        margin-right: 10%;
        margin-left: 2rem;
        flex-direction: column;
    }

.hero .right {
    width: 100%;
    margin-left: 10%;
    text-align: center;
}
.hero .right img {
    margin-top: 10%;
    
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: scale(0.7) translate(-50%, -60%);
}

    .buttons {
        flex-direction: column;
        padding-top: 0px;
        width: 100%;
        text-align: center;
    }

    .buttons .secondary {
        margin-left: 0;
    }

    .buttons > * {
        display: block;
    }

    .buttons a {
        margin-top: 1rem;
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}